# practice session
## part 1
## basics of python
## topics we will be covering
## 1.learning how execute print command
## 2.how to write no.
## 3.how to break the line with escape sequence
## 4.how to use mathematical functions

In [2]:
#how to print words
print("hello world")

hello world

In [5]:
#how to print number
print(23)

23

In [ ]:
# note:if want to add text we always  have to coat it with "" or ''

In [9]:
# how to break the line into next line in one print command
print("Ram is a good boy\nSita is an intelligent girl")

Ram is a good boy
Sita is an intelligent girl

In [10]:
# how  to highlight words in print command with "" or ''
print("Ram has a \'car\' which is black in \"color\" ")

Ram has a 'car' which is black in "color"

In [13]:
# how to store values in variables
a=35
b=15
c="nitin's"
print("my age is",a)
print("i am",b,"years younger than Ram")
print("i am gonig to",c,"home")

my age is 35
i am 15 years younger than Ram
i am gonig to nitin's home

In [18]:
# how to add all the variables with format function
a="nitin"
b=5
c="rohan"
print("1."a,"is younger than",c,"by",b,"years")
#using f-string
print(f""2."{a} is younger than {c} by {b} years")
#using f-string(mydict)
mydict={a:"nitin",b:5,c:"rohan"}
print(f""3."{a} is younger than {c} by {b} years")
# using .format
# in this we have to keep check var in .format to b arranged in proper order as required
print(""4."{} is younger than {} by {} years".format(a,c,b))
# using .format with placeholder
print("{name1} is younger than {name2} by {year} years".format(name1=a,year=b,name2=c))

nitin is younger than rohan by 5 years
nitin is younger than rohan by 5 years
nitin is younger than rohan by 5 years
nitin is younger than rohan by 5 years

In [5]:
#type casting
#how to find type of a variable
a="nitin"
b=12
c=True
d=None
e=3+2j
print("the type value of a is",type(a))
print("the type value of b is",type(b))
print("the type value of c is",type(c))
print("the type value of d is",type(d))
print("the type value of e is",type(e))

the type value of a is <class 'str'>
the type value of b is <class 'int'>
the type value of c is <class 'bool'>
the type value of d is <class 'NoneType'>
the type value of e is <class 'complex'>

# How to take out an alphabet from a word

In [7]:
# takeing out an alphabet from a word 
s="pwskills"
# indexing s[0]
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print(s[7])
# how take out group is alphabets
print(s[0:5])
# what is slicing?
# when we type a word like rohan python assin value to 
# each alphabet of the word from left to right and assigning 
# of values starts with "0"(r=0,o=1,h=3) and -ve values are also assined
# from right to left and it's start with "-1" because "0"
# is already assined and when we give command to the system 
# to take out group of alphabets if we want first four alphabet
# we will write "s[0:5] because it always produce value which is 5-1=4 and this
# process is called slicing

# how to take out selected group of words?
print(s[0:8:2])

p
w
s
k
i
l
l
s
pwski
psil

In [13]:
s="powerbank"
print("the length of s is",len(s))
print(s[0:9:2])
s[-1:-6:-2]

the length of s is 9
pwrak

'kar'

In [20]:
s="missipissi"
print(s.count('s'))
# count the total no. of occurance in the string
print(s.find('s'))
# find the first occurance in the string acc. to 0,1,2,3

4
2

## list

In [1]:
# how to make a list?
# list is set of all the data type arranged in together
a="nitin"
b=23
c=-2
d=0.99
e=True
f=None
g=3+4j
list=[a,b,c,d,e,f,g]
    print("the type value of",type(list))

IndentationError: unexpected indent (2569300265.py, line 10)

In [ ]:
 a=input("enter your name: ")
print("my name is: ",a)
b=int(input("enter your age: "))
print("my age is: ",b)
p=int(input("enter first number(x): "))
q=int(input("enter second number(y): "))
print("sum of p and q: ",p+q)

    #     print("30% discount: ",.7*x)
# y=int(input(": "))

In [ ]:
#only got 10 toffees
total_toffee=10
while total_toffee!=0:
    print(total_toffee)
    total_toffee=total_toffee-1
else:
    print("no more candy")

In [ ]:
# cost price
x=int(input("cost price: "))
if x>1000:
    print("20% discount: ",.8*x)
else:
    print("30% discount: ",.7*x)

In [ ]:
# speed of train
s=int(input("speed of the train: "))
print("")
d=int(input("distance covered by train: "))
print("time take by train: {}".format(d/s))

In [1]:
age=37
age=int(input("what is your age?"))

what is your age? 24

In [2]:
name=input("what is your name?")

what is your name? nitin kaith

In [3]:
name

'nitin kaith'

In [4]:
name="nitin" #a
uid="13bme1270" #b
college="chandigarh university" #c
contact=7006227477 #d
cgpa=6.18 #e
#a,b,c,d,e are called placeholders
print("my name is {a}, UID is {b}, my contact no. is {d}, graduate from {c} with CGPA {e}".format(a=name,b=uid,c=college,d=contact,e=cgpa))

my name is nitin, UID is 13bme1270, my contact no. is 7006227477, graduate from chandigarh university with CGPA6.18

In [4]:
age

34

In [5]:
if age>=18:
    print("you getting there keep pushing hard")

you getting there keep pushing hard

In [6]:
print("my name is {}, UID is {}, my contact no. is {}, graduate from {} with CGPA {}".format(name,uid,college,contact,cgpa))

my name is nitin, UID is 13bme1270, my contact no. is chandigarh university, graduate from 7006227477 with CGPA 6.18

In [ ]:

age=int(input("enter your age"))

## enter your name

In [7]:
name="nitin"
name=input("enter your name")

enter yoyr name nitin

In [ ]:
# now we will learn how to enter a name?
# name="nitin"
name=input("enter your name")

In [15]:
age=int(input("enter your name"))
if age>=18 and age<=45:

SyntaxError: incomplete input (1286240418.py, line 2)

In [17]:
age=int(input("enter your age"))

enter your age 56

In [6]:
#while loop
total_money=1000
while total_money!=0:
    print(total_money)
    total_money=total_money-100
else:
    print("need to refill")

1000
900
800
700
600
500
400
300
200
100
need to refill

In [9]:
joining_age=50
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("time to retire")

50
51
52
53
54
55
56
57
58
59
60
time to retire

In [ ]:
total_toffee=10
while total_toffee<=10:
    print(total_toffee)
    total_toffee=total_toffee-1
else: